<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Tools Show Path</title>
</head>
<body id="toolShowBG">
    <header>

        <h1>Tool information</h1>
    
    <div id=main-menu>
        <div class="nav-item"><a class="nav-link" href="/tools/new">Add New Tool</a></div>
        <div class="nav-item"><a class="nav-link" href="/home">Home</a></div>
        <div class="nav-item"><a class="nav-link" href="/tools">Back to Tools</a></div>
    </div>
    
     </header>

    <h3>Tool Name: <%= tool.name %> </h3>
                <div>
                    <a href="<%= tool.whereToBuy %>" target="_blank">Where to BUY</a>
                </div>
                <div style="width:500px; height:500px;"> 
                    <img src="<%= tool.picture %>" style="max-height:100%; max-width:100%"/>
                </div>

</body>
</html>