<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToolBox Builder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body id="bodyBG">

        <header>
            <a href="/home"><h1>Tool Box Builders</h1></a>
        <div id=main-menu>
            <div class="nav-item"><a class="nav-link" href="/home/sharing">Share Tool information</a></div>
            <div class="nav-item"><a class="nav-link" href="/boxes">ToolBox Builds</a></div>
        </div>
      </header>
    
    <main>    
        <div  class="divWidth">
         <br/>   
        <h2 class="h2Home">Approaches to building a ToolBox</h2>
        <div class="description"><p class="pHome">There are a couple ways that individuals design their Toolboxes
             on this site.  You can add a ToolBox name that indicates the potential use for the tools it contains.  
             You can also create a ToolBox with a name based on a broader title such as "My Home Repairs ToolBox"  
             See the suggestions below before you start.  This will help others that use this site to more easily 
             navigate their needs.
            </p></div></br></br>

            <p><em><b>ToolBox Name:</em> My home Plumbing repair ToolBox.</b> <br/>
                 This toolbox would contain all plumbing related tools 
             that may be used for DIY home plumbing repairs.</p>
            
            <p><em><b>ToolBox Name:</em> Enthusiast Woodworking Box.</b> <br/>
                 This toolbox would potentially contain woodworking related tools 
             for an individual that does more than just minor repairs or jobs related to woodworking.</p>
            
            <p><em><b>ToolBox Name:</em> Homeowner Survial Kit.</b> <br/>
                 Maybe here we would find the tools that are needed for more common 
                everyday repairs as a homeowner.  Possibly tools like a pair of pliers, screwdriver and so on.</p>

        <div class="getStarted-item"><a id="get-started" href="/boxes">Let's Get Started</a></div>
        <br/>
        </div>
        <br/>
    </main>
    <footer>Helping to support our tool needs together!</footer>
</body>
</html>