<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Design</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body id="bodyBG">

    <header>
        <!-- <div id="hamburguer-menu">
            <div></div>
            <div></div>
            <div></div>
        </div> -->
        <div id="title">
            <h1 id="h1Home">In home home ToolBox Builder</h1>
        </div>
        <div id="main-menu">
            <div class="nav-item"><a class="nav-link" href="/home/about">About this site</a></div>
            <div class="nav-item"><a class="nav-link" href="/home/building">Building a ToolBox</a></div>
            <div class="nav-item"><a class="nav-link" href="/home/sharing">Sharing Tool information</a></div>
            <div class="nav-item"><a class="nav-link" href="/boxes">Other ToolBox Builds</a>
        </div>
    </header>
    
    <main> 
        <div class="opacity">   
        <h2 class="text-center h2Home">Homeowners and Home Project Enthusiasts share your favorite found tools with others.  
            Add and display your tool collection in a toolbox for others to see and use as a reference when tool buying.
        </h2>
        </div>

        <div class="description"><p class="pHome">This site was designed to help homowners and other new and first time 
            tool buyers make informed decisions when buying tools.  The site is a collaboration of individuals sharing 
            their "ToolBox" of purchased tools for all to review for before purchasing tools.</p></div>
        </br></br>
        <div class="getStarted-item"><a id="get-started" href="/boxes">Let's Get Started</a>
    </main>
    <footer>FOOTER</footer>
</body>
</html>