<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Design</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body id="bodyBG">

    <header>
        <!-- <div id="hamburguer-menu">
            <div></div>
            <div></div>
            <div></div>
        </div> -->
        <div id="title">
            <h1 id="h1Home">Sharing New Tools on this site</h1>
        </div>
        <div id="main-menu">
            <div class="nav-item"><a class="nav-link" href="/home">Home</a></div>
        </div>
    </header>
    
    <main>    
        <h2 class="h2Home">Some details on adding new Tools to this site.</h2>
        <div class="description">
            <p class="pHome">When adding a new tool to this site to share with others there are a few 
                things to keep in mind.  See suggestions below.</p>
        </div></br></br>

        <p><b>Tool Name: Hammer.</b>  Try to be generic in the description so that a listing of 
            similar tools can be found when a fellow site user is viewing. The required image for each
             tool should be able to complete the picture.
            </p>

        <p><b>Tool Picture:</b> This  should be a URL link to a clear image of the tool.</p>

        <p><b>Where To Purchase:</b> This should be a URL link to the location of where this tools can 
            be puchased.  This link will also provode more detailed information on the tool if an 
            individual want to do more detailed research on a specific tool.</p>

        <p><b>Recommended:</b> Please whether or not you would recommend this tool based on you experience 
            with it.  *** This information will be expanded later for others to weigh in on existing tools on the site using - likes - ***.</p>


        <div class="getStarted-item"><a id="get-started" href="/boxes">Let's Get Started</a>
    </main>
    <footer>Helping to support our tool needs together!</footer>
</body>
</html>