<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Design</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body id="bodyBG">

    <header>
        <div id="hamburguer-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div id="title">
            <h1 id="h1Home">ToolBox Builder</h1>
        </div>
        <div id=main-menu>
            <div class="nav-item"><a class="nav-link" href="/boxes">About this site</a></div>
            <div class="nav-item"><a class="nav-link" href="/boxes">Building a ToolBox</a></div>
            <div class="nav-item"><a class="nav-link" href="/boxes">Sharing Tool information</a></div>
            <div class="nav-item"><a class="nav-link" href="/boxes">Other ToolBox Builds</a>
        </div>
    </header>
    
    <main>    
        <h2 class="h2Home">Homeowners and Enthusiasts find the tools that match your needs with the help of others.</h2>
        <div class="description"><p class="pHome">This site was designed to help homowners and other first time tool buyers make informed decision based on recommendations and tool ratings b others that have made a similar purchase.</p></div>
        <div class="getStarted-item"><a id="get-started" href="/boxes">Let's Get Started</a>
    </main>
    <footer>FOOTER</footer>
</body>
</html>